{% extends "base.html" %}
{% block title %} Ingredients {% endblock %} 

{% block content %}
<br><br><br><br>
<br>
<br>


<div class="row">
  <div class="col-md-8"><!--Left Side-->
    <div class="card">
      <form method="POST">
      <div class="card-header">
        <h2>Manage Ingredients</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <table>
            <tbody>                          
              <tr>
                <td><b>Ingredient name: </b></td>  
                <td>      
                  <input
                    type="text"        
                    id="ingredientName"
                    name="ingredientName"
                    placeholder="Enter Ingredient name"
                    required
                    />
                </td>
              </tr>
              <tr>
                <td><b>Ideal Number of stock(Par stock): </b></td>
                <td>
                  <input
                    type="number"     
                    id="minimumStock"
                    name="minimumStock"
                    placeholder="Par stock"
                    required
                    min="1" 
                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                  />                 
                </td>
              </tr>
              <tr>
                <td><b>Unit of Measure: </b></td>
                <td>
                  <input
                    type="text"        
                    id="unitOfMeasure"
                    name="unitOfMeasure"
                    required
                    placeholder="UoM"/>
                </td>
              </tr>
            </tbody>
          </table>
          <br>      
          <div>
            <button type="submit" class="btn btn-secondary" name="action" value="add">Add to list</button>
          </div>
        </div>
        <div class="form-group">
          <table>
            <tbody>                          
              <tr>
                <td><b>Current Ingredients:   </b></td>  
                <td>      
                  <select class="form-control" id="ingredientListSelect" name="ingredientListSelect">
                    {% for allIngredients in allIngredients %}
                    <option>{{ allIngredients.ingredientName }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-secondary" name="action" value="remove">Remove from list</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 
      </div>
      <br>
      </form>
    </div>
  </div>
  <div class="col-md-4"><!--Right side-->
    <div class="card">
      <div class="card-header">
        <h2>Ingredient List</h2>
      </div>
      <div class="card-body">
        <table class="table datatable table-striped" id="ingredientListTable">
          <thead>
            <tr>
              <th>Ingredient</th>
              <th>Ideal Quantity(Par Stock)</th>
              <th>Unit of Measure</th>
            </tr>
          </thead>
          <tbody>
            {% for allIngredients in allIngredients %}
            <tr>
              <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#minimumStockModal"
                   data-ingredient="{{ allIngredients.ingredientName }}"
                   data-minstock="{{ allIngredients.minimumStock }}">
                  {{ allIngredients.ingredientName }}
                </a>
              </td>
              <td>{{ allIngredients.minimumStock }}</td>
              <td>{{ allIngredients.unitOfMeasure }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--end right-->
</div>


<!-- Minimum Stock Edit Modal -->

<!-- Minimum Stock Edit Modal -->
<div class="modal fade" id="minimumStockModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Par Stock Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <input type="hidden" id="ingredientNameHidden" name="ingredientName">
          
          <table class="table">
            <tbody>                          
              <tr>
                <td><b>Ingredient name: </b></td>  
                <td>
                  <input type="text" class="form-control" 
                         id="ingredientNameDisplay" readonly>
                </td>
              </tr>
              <tr>
                <td><b>Ideal Level(Par Stock): </b></td>
                <td>
                  <input type="number" class="form-control"
                        id="minimumStockEdit" name="minimumStockEdit"
                        placeholder="Ideal Level(Par Stock)"
                        min="1" required
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                </td>
              </tr>
              
            </tbody>
          </table>
          
          <div class="mt-3 text-end">
            <button type="submit" class="btn btn-secondary" name="action" value="updateMinimumStock">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('minimumStockModal');
    modal.addEventListener('show.bs.modal', function(event) {
      var link = event.relatedTarget;
      // Set the hidden input for form submission
      document.getElementById('ingredientNameHidden').value = link.dataset.ingredient;
      // Set the visible read-only field
      document.getElementById('ingredientNameDisplay').value = link.dataset.ingredient;
      // Set the current minimum stock value in the editable field
      document.getElementById('minimumStockEdit').value = link.dataset.minstock;
    });
  });
  </script>


{% endblock %}