{% extends "base.html" %}
{% block title %} Inventory {% endblock %} 

{% block content %}
<br><br><br><br>
<h1>Inventory</h1>

<br>

      


<form method="POST">
    <div>
        <label for="checkInventory">Check Inventory:</label>
        <input type="date" id="checkInventory" name="checkInventory">
        <button type="submit" class="btn btn-secondary" name="action" value="checkInventory">Check Inventory</button>
        <br><br>
    </div>
</form>

<!--This is when inventory is available-->
<div>    
    {% if checkInv %}
    <div class="card overflow-auto">
      <h5 class="card-header">
        Inventory for {{ dateWords }}
      </h5>
      <div class="card-body">
        <h6 class="card-title"></h6>
        <table class="table table-borderless datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beginning Quantity</th>
                    <th>Ending Quantity</th>
                    <th>Produced</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for allInventory in checkInv %}
                <tr>
                    <td>{{ allInventory.inventoryItem }}</td>
                    <td>
                        {% for prevData in prevInv %}
                        {% if prevData.inventoryItem == allInventory.inventoryItem %}
                        {{ prevData.quantity }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ allInventory.quantity }}</td>
                    <td>{{ allInventory.stockAdd }}</td>
                    <td>
                      {% for minIngredients in minIngredients %}
                      {% if allInventory.inventoryItem == minIngredients.ingredientName %}
                        {% if allInventory.quantity >= minIngredients.minimumStock * 0.6 and allInventory.quantity < minIngredients.minimumStock %}
                          <span class="badge badge-pill badge-warning">Warning</span>
                        {% elif allInventory.quantity < minIngredients.minimumStock * 0.6 %}
                          <span class="badge badge-pill badge-danger">Danger</span>
                        {% elif allInventory.quantity == 0 %}
                          <span class="badge badge-pill badge-dark">Out of Stock</span>
                        {% else %}
                          <span class="badge badge-pill badge-success">Good</span>
                        {% endif %}
                      {% endif %}
                      {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <p>Posted by: {{ postedBy }}</p>
    <br>

    {% if editDate %}
    <p>Edited on: {{ editDate }}</p>
    <p>Edited by: {{ editedBy }}</p>
    <p>Authorized by: {{ editAuth }}</p>
    {% endif %}
    <!--Trigger button-->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authModal">Edit</button> 
    <p>*This requires Supervisor authorization</p>
    <br>
    <br>
    <table class="table-borderless">
      <thead>
          <tr>
              <th>Status</th>
              <th>Description</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><span class="badge badge-pill badge-success">Good</span></td>
              <td>Above minimum stock</td>
          </tr>
          <tr>
              <td><span class="badge badge-pill badge-warning">Warning</span></td>
              <td>60%-100% of stock</td>
          </tr>
          <tr>
              <td><span class="badge badge-pill badge-danger">Danger</span></td>
              <td>1%-60% of stock</td>
          </tr>
          <tr>
              <td><span class="badge badge-pill badge-dark">Out of Stock</span></td>
              <td>Out of stock</td>
          </tr>
      </tbody>
  </table>
      
    


    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-5" id="exampleModalLabel">Supervisor Authorization</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" onsubmit="return confirm('Are you sure you want to submit?');">
              <div class="form-group">
                <table>
                  <tbody>                          
                      <tr>
                        <td><b>Username: </b></td>  
                        <td>      
                          <input
                            type="text"        
                            id="authName"
                            name="authName"
                            placeholder="Enter Username"/>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Password: </b></td>
                        <td>
                          <input
                          type="password"     
                          id="authPass"
                          name="authPass"
                          placeholder="Supervisor Password"
                          />
                          <input type="hidden" id="currentDate" name="currentDate" value="{{ date }}"> 
                          <input type="hidden" id="selectDate" name="selectDate" value="{{ selectDate }}">        
                        </td>
                          
                      </tr>
                  </tbody>
                </table>
                <br>      
                <div>
                  <button type="submit" class="btn btn-secondary" name="action" value="authSupervisor">Authorize</button>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
<!--When inputting new inventory-->
<div>
<form method="POST"  onsubmit="return confirm('Are you sure you want to submit?');">            
    {% if dailyList %}
    <h5>Input Daily Inventory for {{ date }}</h5>
    <table border="5">
        <tbody>
            <th>Name</th>
            <th>Input Ending Quantity</th>
            <th>Produced Today</th>
            
            </tr>
            {% for dailyList in dailyList %}
                <tr>  
                    <td>{{ dailyList.ingredientName }}</td>
                    <td>
                        <input type="number" id="{{ dailyList.ingredientName }}" name="{{ dailyList.ingredientName }}" 
                            placeholder="Quantity" size="1" min="0" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
                        <input type="hidden" id="currentDate" name="currentDate" value="{{ date }}">
                    </td>
                    <td>
                        <input type="number" id="add{{ dailyList.ingredientName }}" name="add{{ dailyList.ingredientName }}" 
                            placeholder="Quantity" size="1" min="0" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Note: 'Ending Quantity' can not be empty. 'Produced Today' can be empty</p>
    <br>
    <button type="submit" class="btn btn-secondary" name="action" value="addAll">Save Daily Inventory</button>
    {% endif %}
</form>
<!--Edit Inventory-->
<form method="POST"  onsubmit="return confirm('Are you sure you want to submit?');">
  {% if editCurrentDate %}
  <h5>Edit Inventory for {{ dateWords }}</h5>
  
  
  <table class="table">
    <thead class="thead-dark">
        <tr>   
          <th>Name</th>
          <th>Old Quantity</th>
          <th class="text-center">to </th>
          <th>New Quantity</th>
        </thead>    
        </tr>
        <tbody>
          {% for allStock in filteredDate %}
            <tr>  
                <td>{{ allStock.inventoryItem }}
                  <input type="hidden" id="itemToEdit" name="itemToEdit" value="{{ allStock.inventoryItem }}">
                </td>
                <td>{{ allStock.quantity }}</td>
                <td class="text-center"><p>></p></td>
                <td>
                  <input type="number" id="add{{ allStock.inventoryItem }}" name="add{{ allStock.inventoryItem }}" 
                  placeholder="New Quantity" size="1" min="0" oninput="this.value = 
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
                  </td>
            </tr>
          {% endfor %}
          
        </tbody>
        
  </table>
  <p>Note: New quantity must not be empty</p>
  <input type="hidden" id="dateToEdit" name="dateToEdit" value="{{ editCurrentDate }}">
  <input type="hidden" id="selectDate" value=" {{ selectDate }}">
  <input type="hidden" id="authUser" name="authUser" value="{{ authBy }}">
  <br> <button type="submit" class="btn btn-secondary" name="action" value="editInventory">Submit</button>  
  
  {% endif %}

</form>
</div>
<br> 
<!--
<button type="submit" class="btn btn-secondary" name="action" value="deleteAll">Delete Daily Inventory</button>
-->
<br>


{% endblock %}